<!DOCTYPE html>
<html>
<head>

<title>{% block title %}{% endblock %}</title>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />	
<meta name="keywords" content="" />
<meta name="description" content="" />
	
<link href="{{ STATIC_URL }}css/style.css" rel="stylesheet" type="text/css" />
<link href="{{ STATIC_URL }}bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />

<script src="//code.jquery.com/jquery-latest.js"></script>
<script src="{{ STATIC_URL }}bootstrap/js/bootstrap.min.js"></script>
<script src="//tinymce.cachefly.net/4.0/tinymce.min.js"></script>
<script>
        tinymce.init({selector:'textarea'});
</script>

<style>hr {margin: 0;}</style>

</head>
	
<body>
	<div id="wraper" class="container">	
		<div id="login">
			{% if request.user.is_authenticated %}
				Wellcome, {{ request.user.username }}!
				<a href="{% url logout %}"> [Logout]</a>
			{% else %}
				<a href="{% url login %}">[Login]</a>
			{% endif %}
			
			<a href="{% url blog.views.register %}"> [Register]</a>
		</div>
	<div>
		<ul class="nav nav-tabs">		
			<li {% if page == 'home' %}class="active"{% endif %}><a href="{% url blog.views.home %}"><i class="icon-home"></i> Home</a></li>			
			<li {% if page == 'about' %}class="active"{% endif %}><a href="{% url blog.views.about %}"><i class="icon-book"></i> About</a></li>
			<li {% if page == 'contacts' %}class="active"{% endif %}><a href="{% url blog.views.contacts %}"><i class="icon-briefcase"></i> Contacts</a></li>
			{% if request.user.is_authenticated %}
			<li {% if page == 'add' %}class="active"{% endif %}><a href="{% url blog.views.add_post %}"><i class="icon-pencil"></i> Add Post</a></li>
			{% endif %}
		</ul>
	</div>
	
	<div id="content">
	{% block content %}
	{% endblock %}	
	</div>

	</div>
	
	<div id="footer">
		<p align="center">Copyright © 2013 | All Rights Reserved | 
			Designed by <a href="http://bliznuk.16mb.com/" target="_blank">Bliznuk Philipp</a></p>
	</div>
	
</body>
</html>