html, body {height: 99%; background: #CFCFCF; margin: 0; padding: 0;}
#wraper {height: 100%; width: 1000px; margin: 0 auto;}

#login {height: 20px; text-align: right;}

#footer {margin-top: -20px;}

#loginform form table {margin: 20px auto;}
#registerform form table {margin: 20px auto; text-align: left;}
#postform form table {margin: 20px auto;}

.info {font-size: 11px; color: #8B8D8F;}
.readmore {float: right;}

.comments {margin: 20px;}
.name {float: left; margin: 0 5px; color: #283DD9;}
.name p {margin: 0;}
.comment_body {margin-left: 5px;}
